# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://localhost:27017/collaboration_db

# Cache & Real-Time
REDIS_URI=redis://localhost:6379

# Security (Change in production!)
ACCESS_TOKEN_SECRET=super_secret_access_key
REFRESH_TOKEN_SECRET=super_secret_refresh_key

# CORS
CLIENT_URL=http://localhost:5173
